// This is the varibles SASS file

// Color Varibles

$navbarColor: #00FF9D;
$primaryTextColor: #000000;
$secondaryTextColor: #ffffff;
$thirdTextColor: #636363;
$backgroundColor: #ffffff;
$activeRouteColor: #8EFFAC;
$iconsBgColor: #00FF9D;
$iconsFontColor: #636363;
$SVGShapesColor: #8EFFAC;
$formContainerBorderColor: #8EFFAC;
$inputBorderColor: #00BA69;
$tooltipColor: #555;
$successColor: #07BEF4;
$successColorSecondary: rgb(5, 154, 199);
$listHoverAncers: #86ff3b;
$listFocusAncers: #f40b15;

// Font Family varibles

$mainFont: 'Poor Richard', Courier, monospace;
$secondaryFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// Widths

$headerWidth: 1000px;
$containerMaxWidth: 400px;
$containerMaxHeight: 350px;
$btnLargeWidth: 300px;
$btnLargeHeight: 150px;
$btnMediumWidth: 150px;
$btnMediumHeight: 50px;
$activeLinkWidth: 180px;
$activeLinkHeight: 30px;
$SVGShapeOneWidth: 100px;
$SVGShapeOneHeight: 100px;
$SVGShapeTwoWidth: 50px;
$SVGShapeTwoHeight: 50px;
